/* Stylesheet written by Rich Donohue and Carl Sack for Time Series Proportional Symbol Maps with Leaflet and JQuery */

@import url(http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,300);
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('../img/mochaGrunge.png'); 
}
h2 {
    font-size: 2em;
    margin-top: 15px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
}
h3{
    font-family: 'Open Sans', sans-serif;
    margin-top: -25px;
    color: #b2b2b2;
}
h4{
    font-size: 1.2em;
    margin-top: 3px;
    font-family: sans-serif;
}
h5{
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: sans-serif;
}

h2, h3, h4,div, span {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.header{
    height: 100px;
    background: #660000;
    margin: 0px auto;
    width: 100%;
    padding: 0;
}
.header-cont{
    width: 100%;
    position: fixed;
    top: 0px;
}

#wrapper {
	box-shadow: 0px 0px 10px #383838;
    width: 840px;
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    
}
#map {
	height: 450px;
}
#text {
    -moz-box-shadow: 0px 0px 10px #383838;
	-webkit-box-shadow: 0px 0px 10px #383838;
	box-shadow: 0px 0px 10px #383838;
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    float: right;
    display: inline-block;
    margin-right: 25px;
    background: white;
    
}
.legend, .temporal-legend {
    padding: 6px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
#legendTitle {
    text-align: center;
    margin-bottom: 15px;
    font-variant: small-caps;
}
.symbolsContainer {
    float: left;
	margin: 0 50px;
}
.legendCircle {
     border-radius:50%;
     border: 2px solid #330000;
     background: rgba(100, 0, 0, .6);
	 display: inline-block;
}
.legendValue {
    position: absolute;
    right: 10px;
}
.range-slider {
    width: 250px;
}
.temporal-legend {
    font-size: 1.2em;
    text-align: center;
}
#buttons{
    float: left;
    margin-top: 15px;
    margin-left: 25px;
}
.minButton {
	-moz-box-shadow: 0px 10px 14px -7px #383838;
	-webkit-box-shadow: 0px 10px 14px -7px #383838;
	box-shadow: 0px 10px 14px -7px #383838;
	background-color:#FFF;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 14px;
	text-decoration:none;
}
.minButton:hover {
	background-color:#595959;
}
.minButton:active {
	position:relative;
	top:1px;
}
.maxButton {
	-moz-box-shadow: 0px 10px 14px -7px #383838;
	-webkit-box-shadow: 0px 10px 14px -7px #383838;
	box-shadow: 0px 10px 14px -7px #383838;
	background-color:#FFF;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 14px;
	text-decoration:none;
}
.maxButton:hover {
	background-color:#595959;
}
.maxButton:active {
	position:relative;
	top:1px;
}