/* Stylesheet written by Rich Donohue and Carl Sack for Time Series Proportional Symbol Maps with Leaflet and JQuery */
@import url(http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,300);
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('../img/mochaGrunge.png'); 
}
h2 {
    font-size: 2em;
    margin-top: 15px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
}
h3{
    font-family: 'Open Sans', sans-serif;
    margin-top: -25px;
    color: #b2b2b2;
}
h4{
    font-size: 1.2em;
    margin-top: 3px;
    font-family: sans-serif;
}


h2, h3, h4,div, span {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.header{
    height: 100px;
    background: #660000;
    margin: 0px auto;
    width: 100%;
    padding: 0;
}
.header-cont{
    width: 100%;
    position: fixed;
    top: 0px;
}

#wrapper {
    width: 960px;
    margin: 15px auto;
}
#map {
	height: 450px;
	margin: 15px auto 15px;
}

.legend, .temporal-legend {
    padding: 6px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
#legendTitle {
    text-align: center;
    margin-bottom: 15px;
    font-variant: small-caps;
}
.symbolsContainer {
    float: left;
	margin: 0 50px;
}
.legendCircle {
     border-radius:50%;
     border: 2px solid #330000;
     background: rgba(100, 0, 0, .6);
	 display: inline-block;
}
.legendValue {
    position: absolute;
    right: 10px;
}
.range-slider {
    width: 250px;
}
.temporal-legend {
    font-size: 1.2em;
    text-align: center;
}
#minButton{
    
}
#maxButton{
    
}

